@font-face {
    font-family: 'Roboto';
    src: url(./Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto bold';
    src: url(./Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto thin';
    src: url(./Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto Italic';
    src: url(./Roboto/Roboto-LightItalic.ttf);
}
* {
    margin: 0;

}

body {
    font-family: 'Roboto';
}


.header-logo > img {
    width: auto;
    height: 150px;
}

nav {
    margin-top: 50px;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto thin';
}

.nav-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 110px;
}

a {
    padding-right: 10px;
    color: #f9faf8;
    font-size: 20px;
    text-decoration: none;
  }

a:hover {
    color:#3882f6
}

.top-section {
    background-color: #1f2937;
}

.hero-section {
    display: flex;
    margin: 100px 75px 75px 75px;
    justify-content: space-around;

}

.hero-left {
    width: 45%;
    padding-top: 50px;
}

.hero-section > .hero-left > h1, p {
    margin-bottom: 15px;

}

.hero-section > .hero-left > h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto bold';
}

.hero-section > .hero-left > p {
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto Thin';
}

.hero-section > img {
    width: 600px;
    height: auto;
    padding-bottom: 200px;
}

.services-section > h2 {
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Roboto bold';
    font-size: 50px;
    color: #1f2937;

}

.services-section > p {
    color: #1f2937;
}

.services-section > .service-boxes {
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 0 100px;

}

.box {
    margin: 12px;
    width: 100%;
    padding-bottom: 10px;
}

.services-section > .service-boxes > .box > img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote-section > h3 {
    display: block;
    align-items: center;
    margin: 50px 150px;
    padding: 150px;
    font-family: 'Roboto Thin';
    font-size: 36px;
    font-style: italic;
}

.quote-section > h2 {
    position: absolute;
    left: 72%;
    transform: translateY(-700%);
}

.cta-container {
    background-color: #3882f6;
    padding: 75px 0;
    margin: 175px;
    border-radius: 10px;
    color: #f9faf8;
}


.cta-section {
    align-items: center;
    padding-left: 100px;
    display: flex;

}

.left-side {
    width: 70%;
}

.left-side > h3 {
    padding-bottom: 5px;
}


.cta-container > .cta-section > button {
    background-color: #3882f6;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    color: #f9faf8;
    padding: 15px 75px;
}


.hero-section > .hero-left > button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 15px 75px;
    border-radius: 5px;
}

footer {
    background-color: #1f2937;
    padding: 50px;
    text-align: center;
    color: #f9faf8;
}



